<!DOCTYPE html>
<html>
  <head>
    <title>RockPaperScissors</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>

  <body>
    <main class="container mt-20 px-11 mx-auto max-w-5xl">
      <header class="flex justify-center items-center py-10">
        <h1 class="text-6xl text-purple-900 font-bold word-spacing-widest">ROCK – PAPER – SCISSORS</h1>
      </header>
      <%= yield %>
    </main>

    <%= turbo_frame_tag "modal" %>
  </body>
</html>
